<h1>Create a new Figure:</h1>
<form action="/figures" method="POST">
  <label for="figure_name">Figure Name:</label>
  <input type="text" id="figure_name" name="figure[name]">

  <h2>Select Titles:</h2>
  <% @titles.each do |title| %>
    <label for="title_<%= title.id %>"><%= title.name %></label>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value=<%= title.id %>>
    <br>
  <% end %>

  <h2>Create a new Title:</h2>
  <label for="new_title">Title Name:</label>
  <input type="text" id="new_title" name="title[name]">

  <h2>Select Landmarks:</h2>
  <% @landmarks.each do |landmark| %>
    <label for="landmark_<%= landmark.id %>"><%= landmark.name %></label>
    <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value=<%= landmark.id %>>
  <% end %>

  <h2>Create a new Landmark:</h2>
  <label for="new_landmark">Landmark Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">

  <input type="submit" value="Create New Figure">
</form>
